.universal-container.frame, universal-msgbox-container.frame {

  .avatar-sm {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }

  /* SETTINGS BAR */
  .settingsBar.active {
    -webkit-box-shadow: 0 0 2em black;
    -moz-box-shadow: 0 0 2em black;
    box-shadow: 0 0 2em black;
  }
  .settingsBar {
    position: absolute;
    margin-top: -99999px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: @lightblue;
    z-index: 1999999998;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .settingsBarLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: @lightblue;
    z-index: 1999999997;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .settingsBarToggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 30px;
    padding: 10px;
    padding-left: 13px;
    background-color: @lightblue;
    font-size: 30px;
    color: white;
    z-index: 1999999999;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .settingsBarToggle:hover {
    cursor: pointer;
  }
  .settingsBarToggle .closeIcon {
    display: none;
  }
  .settingsRow {
    padding-top: 20px;
    margin-left: 20px;
  }
  .settingsRow:last-of-type {
    padding-bottom: 30px;
  }
  .settingsLabel {
    color: white;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 2px;
  }
  .settingsNick {
    margin-bottom: 0 !important;
    background-color: rgba(255,255,255,0.2) !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width: auto !important;
    min-width: 1px !important;
    color: white !important;
    padding-left: 10px !important;
  }
  .setNick {
    background-image: none;
    border: none !important;
    margin-left: 3px;
    color: @lightblue;
    -webkit-transition: all 0.4s ease;  
    -moz-transition:all 0.4s ease;  
    -o-transition: all 0.4s ease;  
    -ms-transition: all 0.4s ease;  
    transition: all 0.4s ease;
  }
  .setNick:hover {
    color: @lightblue;
    -webkit-transition: all 0.4s ease;  
    -moz-transition:all 0.4s ease;  
    -o-transition: all 0.4s ease;  
    -ms-transition: all 0.4s ease;  
    transition: all 0.4s ease;
  }
  .btn-social {
    margin: 0;
  }
  .userDataCont {
    float: left;
    display: inline-block;
    width: auto;
  }
  .userDataTxt {
    margin-left: 5px;
  }
  .userDataTxtHello {
    font-size: 9px;
    line-height: 10px;
  }
  .userDataTxtName {
    font-size: 15px;
    line-height: 20px;
  }

  /* MESSAGES INPUT */  
  .messageInputArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
  }
  .onlineData {
    background-color: @online-data-bg;
    box-shadow: 0 -1px 1px rgba(119,119,119,.22); 
  }
  .onlineDataLeft {
    float: left;
    padding-left: 10px;
  }
  .onlineIcon {
    color: @online-color;
  }
  .onlineDataText {
    font-size: 10px;
    color: @text-med;
  }
  .onlineDataRight {
    float: right;
    padding-right: 10px;
  }
  .noticeLabel {
    font-size: 11px;
    color: @text-med;
  }
  .fix-messageInputCont {
    height: 50px;
  }
  .messageInputText {
    outline: none !important;
    width: 100% !important;
    height: 50px !important;
    line-height: 50px !important;
    overflow: hidden;
    padding: 0 10px !important;
    margin: 0px !important;
    border: none !important; 
    font-size: 15px !important;
    background-color: @lightblue !important;
    color: #FBFDFE !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .messageInputText:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .messageInputText::-webkit-input-placeholder{
    color: #FBFDFE;
    font-size: 14px !important;
    font-weight: 100 !important;
  }
  .messageInputText:-moz-placeholder{
    color: #FBFDFE;
    font-size: 14px !important;
    font-weight: 100 !important;
  }
  .messageInputText::-moz-placeholder{
    color: #FBFDFE;
    font-size: 14px !important;
    font-weight: 100 !important;
  }
  .messageInputText:-ms-input-placeholder{
    color: #FBFDFE;
    font-size: 14px !important;
    font-weight: 100 !important;
  }
  .sendButton {
    position: absolute;
    right: 18px;
    bottom: -3px;
    font-size: 24px;
    line-height: 50px;
    color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .sendButton:hover {
    text-shadow: 0 0 3px lightgray;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  /* MESSAGE AREA */
  .messageScrollable {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .messageArea {
    padding-top: 15px;
    padding-bottom: 80px;
  }

  /* MESSAGES */
  .messageBox {
    margin-left: 10px;
    margin-top: 10px;
  }
  .messageBox:last-of-type {
    margin-bottom: 15px;
  }
  .messageNick {
    color: gray;
    font-size: 10px;
    font-weight: 300;
    background-color: lightgray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1px 4px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .messageTime {
    color: lightgray;
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: 3px;
    line-height: 19px;
    vertical-align: bottom;
  }
  .messageTextCont {
    margin-left: 5px;
    margin-top: 1px;
    word-break: break-word;
  }
  .messageText {
    font-size: 17px;
    font-weight: 300;
    color: #FBFDFE;
    background-color: #402060;
    padding-top: 1px;
    box-shadow: 5px 0 0 #402060, -5px 0 0 #402061, 5px 5px 0 #402060, -5px 5px #402060;
    line-height: 23px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .messageAvatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
  .messageBoxArea {
    padding: 0;
    margin-left: 45px;
  }
  .messageInline {
    display: inline;
  }

}