<template id="frame" name="frame">
  <div class="universal-container frame">

    <!-- Settings Bar -->
    <div class="settingsBar">
      {{#if currentUser}}
      <div class="settingsRow">
        <div class="settingsSubRow clearfix">
          <div class="userDataCont">
            <!--<img class="avatar-sm" src="{{getAvatar}}" alt="Profile picture of {{getName}}">-->
            <object class="avatar-sm" data="{{getAvatar}}" type="image/png"><img class="avatar-sm" src="/assets/anon.png" alt="{{displayable}}"></object>
          </div>
          <div class="userDataCont userDataTxt">
            <div class="settingsSubRow settingsLabel userDataTxtHello">Hello,</div>
            <div class="settingsSubRow settingsLabel userDataTxtName"><b>{{getName}}</b></div>
          </div>
        </div>
        <div class="settingsSubRow" style="margin-top: 15px;"><a href="#" class="btn-logout link-light"><i class="fa fa-sign-out"></i> Logout</a></div>
      </div>
      {{else}}
      <div class="settingsRow">
        <div class="settingsSubRow settingsLabel">Nickname</div>
        <div class="settingsSubRow">
          <input type="text" class="settingsNick" value="{{nickname}}">
          <button class="btn btn-lg setNick btn-setnick"><i class="fa fa-check"></i></button>
        </div>
      </div>
      <div class="settingsRow">
        <div class="settingsSubRow settingsLabel">Login <!--{{> loginButtons}}--></div>
        <div class="settingsSubRow">
          <div class="btn btn-lg setNick btn-social btn-facebook"><i class="fa fa-facebook"></i> Login</div>
          <div class="btn btn-lg setNick btn-social btn-twitter"><i class="fa fa-twitter"></i> Login</div>
          <div class="btn btn-lg setNick btn-social btn-google"><i class="fa fa-google-plus"></i> Login</div>
        </div>
      </div>
      {{/if}}
    </div>
    <!-- settings bar toggle -->
    <div class="settingsBarLine"></div>
    <div class="settingsBarToggle">
      <i class="settingsIcon fa fa-bars"></i>
      <i class="closeIcon fa fa-times"></i>
    </div>
    
    <div class="settingsBarMenuItems">
      <!-- feedback -->
      {{#if showFeedback}}
      <div class="settingsBarMenuItemCont settingsBarFeedbackCont">
        <div class="settingsBarMenuItem settingsBarFeedback"><i class="fa fa-question" onClick="window.open('http://socialsurf.io/feedback')"></i></div>  
      </div>
      {{/if}}
      <!-- contact -->
      {{#if showContact}}
      <div class="settingsBarMenuItemCont settingsBarContactCont">
        <div class="settingsBarMenuItem settingsBarContact"><i class="fa fa-envelope" onClick="window.open('mailto:hello@socialsurf.io')"></i></div>  
      </div>
      {{/if}}  
    </div>
    

    <div class="loadingBar">
      <i class="fa fa-spin fa-spinner"></i>
    </div>

    <!-- Messages -->
    <div class="messageScrollable nano clearfix">
      <div class="messageArea overthrow nano-content">

        {{#each messages}}
        {{>messageBox}}
        {{/each}}

      </div>
    </div>

    <!-- Message Input -->
    <div class="messageInputArea">
      <div class="onlineData clearfix">
        <div class="onlineDataLeft">
          <i class="onlineIcon fa fa-user"></i>
          <span class="onlineDataText"><!--<a href="#" class="link-dark">-->{{online}} Online<!--</a>--></span>  
        </div>
        <div class="onlineDataRight">
          <span class="noticeLabel">powered by <b><a href="#" onClick="window.open('http://socialsurf.io')">SocialSurf</a></b></span>
        </div>
      </div>
      <div class="messageInputCont">
        <input type="text" class="messageInputText" placeholder="Enter message...">
        <i class="fa fa-send sendButton"></i>
      </div>
    </div>

  </div>
</template>


<!-- Message Box Template -->
<template name="messageBox">
  <div class="msgbox universal-msgbox-container frame" data-matchID="{{matchID}}" data-id="{{msgid}}" id="{{seqID}}" data-msgtime="{{msgtime}}" data-displayable="{{displayable_enc}}">
    <!-- avatar -->
    <div class="msgbox-avatar">
      {{#if hasUser}}
      <!--<img src="{{getAvatar}}" alt="Avatar of {{hasUser.name}}">-->
      <object data="{{getAvatar}}" type="image/png"><img src="/assets/anon.png" alt="{{displayable}}"></object>
      {{else}}
      <img src="/assets/anon.png" alt="Avatar of anon user {{nick}}">
      {{/if}}
    </div>
    <!-- bubble -->
    <div class="msgbox-bubble-cont">
      <div class="msgbox-bubble">
        {{#if loadingBar}}
        <div class="msgbox-loading"><i class="fa fa-spin fa-spinner"></i></div>
        {{else}}
        <div class="msgbox-arrow"></div>
        {{/if}}
        <!-- bubble title -->
        <div class="msgbox-title">
          <div class="msgbox-title-left">
            <span class="msgbox-username">{{displayable}}</span>
          </div>
          <div class="msgbox-title-right">
            <span class="msgbox-time">{{timePassed}}</span>
          </div>
        </div>
        <!-- bubble message -->
        <div class="msgbox-text">
          <div>{{message}}</div>
        </div>
      </div>
    </div>    
  </div>
</template>

