<!-- Message Box Template -->
<template name="messageBox_old">
  <div class="universal-msgbox-container frame">

    <div class="messageBox clearfix" data-userid="{{#if hasUser}}{{hasUser._id}}{{/if}}" data-nickname="{{#unless hasUser}}{{nick}}{{/unless}}">

      <!-- Merged message cells -->
      {{#if mergeLastMessage}}
      <div class="messageTextCont" style='margin-top: -5px; margin-left: 50px;'><span class="messageText">{{message}}</span></div>

      <!-- Non-merged message cells -->
      {{else}}
      <div style="position: relative;">
        {{#if hasUser}}
        <img class="messageAvatar" src="{{hasUser.avatar}}" alt="Avatar of {{hasUser.name}}">
        {{else}}
        <img class="messageAvatar" src="/assets/anon.png" alt="Avatar of anon user {{nick}}">
        {{/if}}
      </div>

      <div class="messageBoxArea">
        <div class="messageInline messageNick">
          {{#if hasUser}} {{hasUser.name}} {{else}}
          <i class="fa fa-user"></i> {{nick}}
          {{/if}}
        </div>
        <div class="messageInline messageTime">{{timePassed date}}</div>
        <!-- Message text container -->
        <div class="messageTextCont"><span class="messageText">{{message}}</span></div>
      </div>
      {{/if}}
    </div>
  </div>
</template>
<!--






.messageBox {
    margin-left: 10px;
    margin-top: 10px;
  }
  .messageBoxArea {
    background-color: white;
    padding: 20px;
    margin-left: 50px;
    width: 95%;
    .border-radius(5px);
  }
  .messageBox:last-of-type {
    margin-bottom: 15px;
  }
  .messageNick {
    color: gray;
    font-size: 10px;
    font-weight: 300;
    background-color: lightgray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1px 4px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .messageTime {
    color: lightgray;
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: 3px;
    line-height: 19px;
    vertical-align: bottom;
  }
  .messageTextCont {
    margin-left: 5px;
    margin-top: 1px;
    word-break: break-word;
  }
  .messageText {
    font-size: 17px;
    font-weight: 300;
    color: #FBFDFE;
    background-color: #402060;
    padding-top: 1px;
    box-shadow: 5px 0 0 #402060, -5px 0 0 #402061, 5px 5px 0 #402060, -5px 5px #402060;
    line-height: 23px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .messageAvatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    .border-radius(50%);
    margin-top: 5px;
  }
  .messageInline {
    display: inline;
  }


  -->