@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic-ext,latin-ext);
@import 'config.import.less';
@import 'tp/prefixer.import.less';
@import 'tp/animate.import.less';
@import 'tp/scroller.import.less';
@import 'loading.import.less';

/* GENERAL */
* {
	font-family: 'Open Sans', sans-serif;
}
body, html {
	background-color: @background;
	margin: 0px;
	padding: 0px;
	width: 100% !important;
	height: 100% !important;
	color: @text-dark;
	overflow: hidden !important;
}
.universal-container {
	height: 100% !important;
}

a{	color: @link-color; }
a:hover{
	color: @link-color;
	text-decoration: underline;
}

a.link-dark { color: @text-med; }
a.link-dark:hover{
	color: @link-color;
	text-decoration: none;
}
a.link-light { color: white; }
a.link-light:hover{
	color: white;
	text-decoration: underline;
}

.clearfix() {
	&:before,
	&:after {
    content: " "; // 1
    display: table; // 2
}
&:after {
	clear: both;
}
}

/* frames */
@import 'frames/frame.import.less';
/* pages */
@import 'pages/landing.import.less';
@import 'pages/blocked.import.less';