body.landingPage {
	background-color: white;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.sweetblue{ color: @lightblue; }
.reveal-arrow:hover { cursor: pointer; }

.landing-container {
	width: 100%;
	background-color: white;
	margin: auto;
}

.landing-line {
	width: 100%;
	height: 6px;
	background-color: @lightblue;
	z-index: 9999999999999;
}
.landing-title {
	text-align: center;
	.title-img {
		padding-top: 40px;
		img {
			width: 70px;
			height: auto;	
		}
	}
	.title-text {
		padding-top: 20px;
		padding-bottom: 15px;
		font-size: 35px;
		font-weight: bolder;
	}
	.title-desc {
		font-size: 18px;
		font-weight: lighter;
		padding-bottom: 50px;
	}
}

.landing-chat-container {
	width: 100%;
	height: auto;
	margin-bottom: 60px;
	
	.landing-chat {
		position: relative;
		margin: auto;
		width: 55%;
		max-width: 500px;
		height: 400px;
		overflow: hidden;
		box-shadow: 0 0 5px #8C989E;
		background-color: @background;
	}	
}

.landing-info {
	width: 100%;
	height: 150px;
	line-height: 35px;
	text-align: center;
	background-color: @lightblue;
	padding: 15px;
	color: white;
	margin-top: 30px;
	margin-bottom: 60px;
	.landing-info-text { margin-top: 30px; }
	.line1 { font-size: 22px; }
	.line2 {
		font-size: 35px;
		font-weight: bolder;
	}
}

.landing-animation {
	width: 100%;
	position: relative;
	//margin-bottom: 30px;
	.landing-br-inline {
		display: inline-block;
		float: left;
	}
	.landing-br-text {
		width: 50%;
		height: 300px;
		padding: 30px;
		padding-right: 30px;
		padding-left: 60px;
		padding-top: 0;
		font-size: 30px;
		line-height: 50px;
		color: @text-dark;
		box-sizing: border-box !important;
		.landing-br-f2 { display: none; }
		.landing-text-gap { margin-top: 20px; }
	}
	.landing-br-sidepane {
		width: 50%;
		text-align: left;
		.landing-br-container {
			overflow: hidden !important;
			position: relative;
			text-align: left;
			width: 80%;
			height: auto;
			.anim-br {
				width: 100%;
				height: auto;
				display: none;
				margin: auto;
			}
			.anim-br-light {
				display: block;
			}
			.anim-br-button {
				position: absolute;
				bottom: 20px;
				right: 20px;
				width: 30px;
				height: auto;
			}
			.anim-br-button:hover {
				cursor: pointer;
			}
			.anim-arrow {
				display: none;
				position: absolute;
				bottom: 32px;
				right: 60px;
				width: 60px;
				height: auto;
			}
			.anim-ss-wireframe {
				position: absolute;
				//bottom: 6px;
				bottom: -200px;
				right: 15px;
				width: auto;
				height: 200px;
			}
		}
	}
}

.landing-timeline-container {
	position: relative;
	padding-top: 30px;
	text-align: left;
	width: 900px;
	margin: auto;
	.clearfix();

	.landing-timeline {
		padding: 20px;
		width: auto;
		float: left;

		.landing-timeline-title {
			width: 100%;
			margin-bottom: 5px;
			color: @text-med;
			font-size: 20px;
		}

		.landing-product-list {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: left;
			.landing-product {
				display: inline-block;
				text-align: center;
				.landing-product-tile {
					width: 150px;
					height: 200px;
					padding: 15px;
					padding-top: 10px;
					border: 2px solid @background;
					background-color: white;
					.landing-tile-row {
						padding-top: 5px;
						img {
							width: 100%;
							height: auto;
							margin-bottom: 5px;
						}
					}
				}
				.landing-product-tile:hover {
					cursor: pointer;
					background-color: @background;
				}
			}
		}

	}
}


.landing-download {
	margin-bottom: 0;
}



