<template id="chatPage" name="chatPage">

<!-- Settings Bar -->
<div class="settingsBar">
  <div class="settingsRow">
    <div class="settingsSubRow settingsLabel">Nickname</div>
    <div class="settingsSubRow">
      <input type="text" class="settingsNick" value="{{nickname}}">
      <button class="btn btn-lg setNick"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>
<div class="settingsBarLine"></div>
<div class="settingsBarToggle">
  <i class="settingsIcon fa fa-cog"></i>
  <i class="closeIcon fa fa-times"></i>
</div>

<!-- Messages -->
<div class="messageScrollable clearfix">
  <div class="messageArea">
    {{#each messages}}
    {{>messageBox this}}
    {{/each}}
  </div>
</div>
<!-- Message Input -->
<div class="onlineData"><i class="onlineIcon fa fa-users" style='color: green;'></i>{{online}} Online <i class="onlineIcon fa fa-users" style='margin-left: 15px; color: darkorange;'></i>{{idle}} Idle</div>
<div class="messageInput">
  <textarea class="messageInputText" placeholder="Enter message..."></textarea>
</div>
<button class="btn btn-lg sendButton"><i class="fa fa-check"></i></button>

</template>


<!-- Message Box Template -->
<template name="messageBox">
  <div class="messageBox">
    <div class="messageInline messageNick"><i class="fa fa-user"></i> {{nick}}</div>
    <div class="messageInline messageTime">{{timePassed date}}</div>
    <div class="messageTextCont"><span class="messageText">{{message}}</span></div>
  </div>
</template>
