<template id="chatPage" name="chatPage">
  <!--
  <h3>Chat - {{_id}}</h3> {{url}} <br>
  <textarea name="message" class="message"></textarea><br>
  <input type="button" class="sendMessage" value="Send">

  <hr>

  <h3>Messages ({{online}} users online)</h3>
  <ul>
  {{#each messages}}
  <li><b>{{nick}}</b> : {{message}}</li>
  {{/each}}
</ul>

<hr>

<footer>Nickname - <u>{{nickname}}</u></footer>
-->

<!-- Settings Bar -->
<div class="settingsBar">
  <div class="settingsRow">
    <div class="settingsSubRow settingsLabel">Nickname</div>
    <div class="settingsSubRow">
      <input type="text" class="settingsNick" value="{{nickname}}">
      <button class="btn btn-lg setNick"><i class="fa fa-check"></i></button>
    </div>
  </div>
</div>
<div class="settingsBarLine"></div>
<div class="settingsBarToggle">
  <i class="settingsIcon fa fa-cog"></i>
  <i class="closeIcon fa fa-times"></i>
</div>

<!-- Messages -->
<div class="messageArea">
  <h3>Messages ({{online}} users online)</h3>
  <ul>
    {{#each messages}}
    <li><b>{{nick}}</b> : {{message}}</li>
    {{/each}}
  </ul>
</div>

<!-- Message Input -->
<div class="onlineData"><i class="onlineIcon fa fa-user"></i>{{online}} User Online</div>
<div class="messageInput">
  <textarea class="messageInputText" placeholder="Enter message..."></textarea>
</div>


</template>
