<template id="frame" name="frame">

  <!-- Settings Bar -->
  <div class="settingsBar">

    {{#if currentUser}}
    <div class="settingsRow">
      <div class="settingsSubRow clearfix">
        <div class="userDataCont">
          <img class="avatar-sm" src="{{getAvatar}}" alt="Profile picture of {{getName}}">
        </div>
        <div class="userDataCont userDataTxt">
          <div class="settingsSubRow settingsLabel userDataTxtHello">Hello,</div>
          <div class="settingsSubRow settingsLabel userDataTxtName"><b>{{getName}}</b></div>
        </div>
      </div>
      <div class="settingsSubRow" style="margin-top: 15px;"><a href="#" class="btn-logout"><i class="fa fa-sign-out"></i> Logout</a></div>
      
    </div>
    {{else}}
    <div class="settingsRow">
      <div class="settingsSubRow settingsLabel">Nickname</div>
      <div class="settingsSubRow">
        <input type="text" class="settingsNick" value="{{nickname}}">
        <button class="btn btn-lg setNick btn-setnick"><i class="fa fa-check"></i></button>
      </div>
    </div>
    <div class="settingsRow">
      <div class="settingsSubRow settingsLabel">Login <!--{{> loginButtons}}--></div>
      <div class="settingsSubRow">
        <div class="btn btn-lg setNick btn-social btn-facebook"><i class="fa fa-facebook"></i> Login</div>
        <div class="btn btn-lg setNick btn-social btn-twitter"><i class="fa fa-twitter"></i> Login</div>
        <div class="btn btn-lg setNick btn-social btn-google"><i class="fa fa-google-plus"></i> Login</div>
      </div>
    </div>
    {{/if}}

    
  </div>
  <div class="settingsBarLine"></div>
  <div class="settingsBarToggle">
    <i class="settingsIcon fa fa-cog"></i>
    <i class="closeIcon fa fa-times"></i>
  </div>

  <!-- Messages -->
  <div class="messageScrollable clearfix">
    <div class="messageArea">
      {{#each messages}}
      {{>messageBox this}}
      {{/each}}
    </div>
  </div>
  <!-- Message Input -->
  <div class="onlineData"><i class="onlineIcon fa fa-users" style='color: green;'></i>{{online}} Online</div>
  <div class="messageInput">
    <textarea class="messageInputText" placeholder="Enter message..."></textarea>
  </div>
  <button class="btn btn-lg sendButton"><i class="fa fa-check"></i></button>

</template>


<!-- Message Box Template -->
<template name="messageBox">
  <div class="messageBox clearfix" data-userid="{{#if hasUser}}{{hasUser._id}}{{/if}}" data-nickname="{{#unless hasUser}}{{nick}}{{/unless}}">
    
    <!-- Merged message cells -->
    {{#if mergeLastMessage}}
    <div class="messageTextCont" style='margin-top: -5px; margin-left: 50px;'><span class="messageText">{{message}}</span></div>
    
    <!-- Non-merged message cells -->
    {{else}}
    <div style="position: relative;">
      {{#if hasUser}}
      <img class="messageAvatar" src="{{hasUser.avatar}}" alt="Avatar of {{hasUser.name}}">
      {{else}}
      <img class="messageAvatar" src="/assets/anon.png" alt="Avatar of anon user {{nick}}">
      {{/if}}
    </div>

    <div class="messageBoxArea">
      <div class="messageInline messageNick">
        {{#if hasUser}} {{hasUser.name}} {{else}}
        <i class="fa fa-user"></i> {{nick}}
        {{/if}}
      </div>
      <div class="messageInline messageTime">{{timePassed date}}</div>
      <!-- Message text container -->
      <div class="messageTextCont"><span class="messageText">{{message}}</span></div>
    </div>
    {{/if}}
  </div>
</template>
