<template id="frame" name="frame">

  <!-- Settings Bar -->
  <div class="settingsBar">

    {{#if currentUser}}
    <div class="settingsRow">
      <div class="settingsSubRow settingsLabel">Hello, <b>{{getFirstName}}</b></div>
      <div class="settingsSubRow"><a href="#" class="btn-logout"><i class="fa fa-sign-out"></i> Logout</a></div>
    </div>
    {{else}}
    <div class="settingsRow">
      <div class="settingsSubRow settingsLabel">Nickname</div>
      <div class="settingsSubRow">
        <input type="text" class="settingsNick" value="{{nickname}}">
        <button class="btn btn-lg setNick btn-setnick"><i class="fa fa-check"></i></button>
      </div>
    </div>
    <div class="settingsRow">
      <div class="settingsSubRow settingsLabel">Login <!--{{> loginButtons}}--></div>
      <div class="settingsSubRow">
        <div class="btn btn-lg setNick btn-social btn-facebook"><i class="fa fa-facebook"></i></div>
        <div class="btn btn-lg setNick btn-social btn-twitter"><i class="fa fa-twitter"></i></div>
        <div class="btn btn-lg setNick btn-social btn-google"><i class="fa fa-google-plus"></i></div>
        <div class="btn btn-lg setNick btn-social btn-github"><i class="fa fa-github"></i></div>
      </div>
    </div>
    {{/if}}

    
  </div>
  <div class="settingsBarLine"></div>
  <div class="settingsBarToggle">
    <i class="settingsIcon fa fa-cog"></i>
    <i class="closeIcon fa fa-times"></i>
  </div>

  <!-- Messages -->
  <div class="messageScrollable clearfix">
    <div class="messageArea">
      {{#each messages}}
      {{>messageBox this}}
      {{/each}}
    </div>
  </div>
  <!-- Message Input -->
  <div class="onlineData"><i class="onlineIcon fa fa-users" style='color: green;'></i>{{online}} Online</div>
  <div class="messageInput">
    <textarea class="messageInputText" placeholder="Enter message..."></textarea>
  </div>
  <button class="btn btn-lg sendButton"><i class="fa fa-check"></i></button>

</template>


<!-- Message Box Template -->
<template name="messageBox">
  <div class="messageBox">
    <div class="messageInline messageNick"><i class="fa fa-user"></i> {{nick}}</div>
    <div class="messageInline messageTime">{{timePassed date}}</div>
    <div class="messageTextCont"><span class="messageText">{{message}}</span></div>
  </div>
</template>
