<template id="landing" name="landing">

	<div class="landing-line"></div>
	<div class="landing-container">
		<!-- title -->
		<div class="landing-title">
			<div class="title-img"><img src="/assets/logo-icon.png" class="animated infinite pulse" alt="SocialSurf Icon"></div>
			<div class="title-text">Chat with people on this page</div>
			<div class="title-desc">Just type your message and hit enter</div>
		</div>
		<!-- chat -->
		<div class="landing-chat-container"><div class="landing-chat">{{>frame}}</div></div>
		<!-- info -->
		<div class="landing-info">
			<div class="landing-info-text">
				<div class="line1">did you know that you can do this</div>
				<div class="line2">for every website</div>
			</div>
		</div>
		<!-- animation -->
		<div class="landing-animation clearfix">
			<div class="landing-br-inline landing-br-sidepane">
				<div class="landing-br-container">
					<img class="anim-br anim-br-light" src="/assets/landing/browser-light.png">
					<img class="anim-br anim-br-dark" src="/assets/landing/browser-dark.png">
					<img class="anim-br-button animated infinite pulse" src="/assets/landing/browser-button.png">	
					<img class="anim-arrow" src="/assets/landing/arrow.png">
					<img class="anim-ss-wireframe" src="/assets/landing/ss-wireframe.png">
				</div>
			</div>
			<div class="landing-br-inline landing-br-text">
				<div class="landing-br-f landing-br-f1">We inject <b class="sweetblue reveal-arrow">a button</b> on your browser window with our extensions. <div class="landing-text-gap"></div> The button opens up the <b class="sweetblue">chat console</b>.</div>
				<div class="landing-br-f landing-br-f2">The console connects you to people who are <b class="sweetblue">online</b>. <div class="landing-text-gap"></div> Use <b class="sweetblue">socialsurf</b> anonymously, or login with <i style="color: #3b5998;" class="fa fa-facebook-square"></i>, <i style="color: #55acee;" class="fa fa-twitter-square"></i> or <i style="color: #dd4b39;" class="fa fa-google-plus-square"></i></div>
			</div>
		</div>
		<!-- download -->
		<div class="landing-info landing-download">
			<div class="landing-info-text">
				<div class="line1">get the extension</div>
				<div class="line2">start using immediately</div>
			</div>
		</div>
		<!-- timeline -->
		<div class="landing-timeline-container">
			
			<div class="landing-timeline landing-timeline-available">
				<div class="landing-timeline-title">Available</div>
				<ul class="landing-product-list">
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/chrome.png"></div>
							<div class="landing-tile-row landing-product-title">Chrome Extension</div>	
						</div>
					</li>
				</ul>
			</div>
			<div class="landing-timeline landing-timeline-verysoon">
				<div class="landing-timeline-title">Very Soon</div>
				<ul class="landing-product-list">
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/firefox.png"></div>
							<div class="landing-tile-row landing-product-title">Firefox Extension</div>	
						</div>
					</li>
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/safari.png"></div>
							<div class="landing-tile-row landing-product-title">Safari Extension</div>	
						</div>
					</li>
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/opera.png"></div>
							<div class="landing-tile-row landing-product-title">Opera Extension</div>	
						</div>
					</li>
				</ul>
			</div>
			<div class="landing-timeline landing-timeline-sooner">
				<div class="landing-timeline-title">Soon</div>
				<ul class="landing-product-list">
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/ssweb.png"></div>
							<div class="landing-tile-row landing-product-title">SS Web Interface</div>	
						</div>
					</li>
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/ssdev.png"></div>
							<div class="landing-tile-row landing-product-title">SS for Developers</div>	
						</div>
					</li>
				</ul>
			</div>
			<div class="landing-timeline landing-timeline-later">
				<div class="landing-timeline-title">Later</div>
				<ul class="landing-product-list">
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/android.png"></div>
							<div class="landing-tile-row landing-product-title">SS for Android</div>	
						</div>
					</li>
					<li class="landing-product">
						<div class="landing-product-tile">
							<div class="landing-tile-row landing-product-visual"><img src="/assets/landing/support/ios.png"></div>
							<div class="landing-tile-row landing-product-title">SS for iPhone/iPad<br></div>	
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- footer -->
		<div class="landing-footer">
			<div class="landing-footer-cont landing-footer-cont-left">
				<div class="landing-notify-label">Would you like to get updates ?</div>
				<div class="landing-mailinput">
					<input class="landing-notify-txt" type="text" placeholder="drop your email...">
					<div class="landing-notify-btn">get updated</div>
				</div>
			</div>
			<div class="landing-footer-cont landing-footer-cont-right">
				<img class="landing-footer-logo" src="/assets/landing/logo.png" alt="Social Surf Logo">
			</div>
		</div>


	</div>
	

	
</template>