<template id="landing" name="landing">
		
	<div class="landing-line"></div>
	<div class="landing-title">
		<div class="title-img">
			<img src="/assets/logo-icon.png" class="animated infinite pulse" alt="SocialSurf Icon">
		</div>
		<div class="title-text">Chat with people browsing this page</div>
		<div class="title-desc">Just type your message and hit enter</div>
		
	</div>
	<div class="landing-chat-container">
		<div class="landing-chat">{{>frame}}</div>	
	</div>
	<div class="landing-contents">
		
	</div>

	
</template>